@page "/ListadoDeTareas"
@using BlazorApp1.Data
@inject TareasService TareaServicio

<h3>Listado De Tareas</h3>

@if (tareas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Vencimiento</th>
                <th>estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tareas in tareas)
            {
                <tr>
                    <td>@tareas.id</td>
                    <td>@tareas.titulo</td>
                    <td>@tareas.vencimiento</td>
                    <td>@tareas.estado</td>
                </tr>
            }
        </tbody>
    </table>
}




@code {
    private Tareas[] tareas;

    protected override async Task OnInitializedAsync()
    {
        tareas =  TareaServicio.GetTareas();
    }
}