@page "/Usuarios/EditarUsuario/{id:int}"
@using BlazorApp1.Data
@inject UsuariosService service
@inject NavigationManager navigation

    <h3>Crear Usuario</h3>

    <EditForm Model="@Modelo" OnValidSubmit="@Guardar">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group col-md-6">
            <label for="nombre">Nombre</label>
            <InputText class="form-control" placeholder="Nombre" @bind-Value="Modelo.nombre" />
        </div>
        <div class="form-group col-md-6">
            <label for="clave">Clave</label>
            <InputText class="form-control" placeholder="Clave" @bind-Value="Modelo.clave" />
        </div>

       
        <button class="btn btn-success" type="submit">Guardar</button>
    </EditForm>


@code {
    [Parameter]
    public int id { get; set; }

    public Usuarios Modelo { get; set; } = new Usuarios();

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
        {
            Modelo = await service.Get(id);
        }
        else
        {
            Modelo = new Usuarios();
        }
    }


    private async void Guardar()
    {
        await service.Save(Modelo);
        navigation.NavigateTo("Usuarios/ListadoDeUsuarios");
    }
}
